a.source(href="/") Sitemap
style(type='text/css').
  .source {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 5px 10px;
    background-color: #a3a3a3;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
  }