html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: arial, verdana;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

img {
  max-width: 100%;
  display: block;
}

input, textarea, select {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.source {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 280px;
  margin: 0 auto;
  position: relative;
  min-height: 1px;
  padding: 0px 15px;
}

.container:after {
  display: block;
  clear: both;
  content: '';
}

.container-fluid {
  width: 100%;
  min-width: 280px;
  max-width: 1164px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container-full-width {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  float: none;
  clear: both;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.row {
  position: relative;
  margin: 0 -15px;
}

.col {
  width: 100%;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (min-width: 480px) {
  .xs1 {
    width: 8.33333%;
    float: left;
  }
  .xs2 {
    width: 16.66667%;
    float: left;
  }
  .xs3 {
    width: 25%;
    float: left;
  }
  .xs4 {
    width: 33.33333%;
    float: left;
  }
  .xs5 {
    width: 41.66667%;
    float: left;
  }
  .xs6 {
    width: 50%;
    float: left;
  }
  .xs7 {
    width: 58.33333%;
    float: left;
  }
  .xs8 {
    width: 66.66667%;
    float: left;
  }
  .xs9 {
    width: 75%;
    float: left;
  }
  .xs10 {
    width: 83.33333%;
    float: left;
  }
  .xs11 {
    width: 91.66667%;
    float: left;
  }
  .xs12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 768px) {
  .sm1 {
    width: 8.33333%;
    float: left;
  }
  .sm2 {
    width: 16.66667%;
    float: left;
  }
  .sm3 {
    width: 25%;
    float: left;
  }
  .sm4 {
    width: 33.33333%;
    float: left;
  }
  .sm5 {
    width: 41.66667%;
    float: left;
  }
  .sm6 {
    width: 50%;
    float: left;
  }
  .sm7 {
    width: 58.33333%;
    float: left;
  }
  .sm8 {
    width: 66.66667%;
    float: left;
  }
  .sm9 {
    width: 75%;
    float: left;
  }
  .sm10 {
    width: 83.33333%;
    float: left;
  }
  .sm11 {
    width: 91.66667%;
    float: left;
  }
  .sm12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 992px) {
  .md1 {
    width: 8.33333%;
    float: left;
  }
  .md2 {
    width: 16.66667%;
    float: left;
  }
  .md3 {
    width: 25%;
    float: left;
  }
  .md4 {
    width: 33.33333%;
    float: left;
  }
  .md5 {
    width: 41.66667%;
    float: left;
  }
  .md6 {
    width: 50%;
    float: left;
  }
  .md7 {
    width: 58.33333%;
    float: left;
  }
  .md8 {
    width: 66.66667%;
    float: left;
  }
  .md9 {
    width: 75%;
    float: left;
  }
  .md10 {
    width: 83.33333%;
    float: left;
  }
  .md11 {
    width: 91.66667%;
    float: left;
  }
  .md12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .lg1 {
    width: 8.33333%;
    float: left;
  }
  .lg2 {
    width: 16.66667%;
    float: left;
  }
  .lg3 {
    width: 25%;
    float: left;
  }
  .lg4 {
    width: 33.33333%;
    float: left;
  }
  .lg5 {
    width: 41.66667%;
    float: left;
  }
  .lg6 {
    width: 50%;
    float: left;
  }
  .lg7 {
    width: 58.33333%;
    float: left;
  }
  .lg8 {
    width: 66.66667%;
    float: left;
  }
  .lg9 {
    width: 75%;
    float: left;
  }
  .lg10 {
    width: 83.33333%;
    float: left;
  }
  .lg11 {
    width: 91.66667%;
    float: left;
  }
  .lg12 {
    width: 100%;
    float: left;
  }
}
